
.header{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
}
.menue-iteam a{
    color: black;
}
.menue-iteam:hover .main-link{
    border-bottom:2px solid red;
    color: red;
    text-decoration: none;
}
.nave-menue{
    width: 80%;  
}
.nave-menue ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
}


.inneriteam-list {
    
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding: 0px;
    margin: 12px;
}
.inneriteam{
    display: flex;
    width: 100%;
    text-align: left;
    
}
.inneriteam a,.nave-menue a, #header-right-side a{
    color: black;
}
.inneriteam a:hover{
    color: red;
    text-decoration: none;
}

#div-1{
    display: none;
}
#div-2{
    display: none;
}
#div-3{
    display: none;
}
#div-4{
    display: none;
}
#div-5{
    display: none;
}
#div-6{
    display: none;
}

.hiddin-nav-menue{

        display: flex;

        width: 100vh;

        height: 100vh;

        position: absolute;

        left:0px;

        z-index: 100000;

        padding: 0 20px;

        background: white;

        box-shadow: 0px 0px 0px 1px;

        

    }

    .hiddin-nav-menue ul {

        padding: 5px;
    }

    @media only screen and (max-device-width: 400px){


        .nav-menue{

            flex-direction: column !important;
            
            text-align: left !important;

        }
        
        .nav-menue ul{

            padding: 0px;

        }

        


    }

    @media only screen and (max-device-width: 1024px){


        .inneriteam-list{

            top: 35px !important;

        }

    }


