@media (min-width:300px){
    .title{
        font-size: 30px !important;
    }
    .input{
        width: 100%;
    }
    .icons{
        width: 21%;
    }
    .uploadinput{
        width: 100px;
    }
}
@media (min-width:800px){
    .title{
        font-size: 50px !important;
    }
    .input{
        width: 50%;
    }
    .icons{
        width: 6%;
    }
    .uploadinput{
        width: 50%;
    }
}