  @media(min-width:300px){
      .bigimg-wraper{
          padding: 0px !important;
      }
    .bigadvertise{
        position: relative;
        margin: 20px 0px;
        display: block !important;
    }
    .bigadvertise-img{
        width: 100% !important;
    }
    .bigimg-nav{
        padding: 0px;
    }
    .ifram{
        width: 377px !important;
        height: 400px !important;
    }
  }

  @media(min-width:1024px){
    .bigimg-wraper{
        padding: 88px !important;
    }
  .bigadvertise{
      position: static;
      margin:0px;
      display: flex !important;
  }
  .bigadvertise-img{
      width: 64% !important;
  }
  .bigadvirtise-paragraph{
      position: static;
  }
}
@media(min-width:1044px){
  .bigadvertise-img{
      width: 50% !important;
  }
  .bigadvertise{
    position: relative;
    margin: 20px 0px;
}
  
}

  

    

    