.shadow-div {
    width: 100%;
    height: 90%;
    color: black;
   
}

.apartments-gallary a{

    text-decoration: none;

}

.Gallary-img {
    width: 100%;
    height: 64%;
}

.Gallary-img img {
    width: 100%;
    height: 100%;
}

.header-icon {
    width: 100%;
    height: 100%;
}

.header-icon img {
    width: 100%;
    height: 100%;
}

.heart-img {
    top: 29px;
    right: 25px;
    width: 10%;
}

.heart-img img {
    width: 100%;
}

#red-heart {
    right: 2px;
    top: 2px;
    width: 92%;
    opacity: 0;
}
.apartments-price {
    position: absolute;
    position: absolute;
    bottom: 100px;
    left: 20px;
    font-size: 41px;
    z-index: 999;
    color: white;
}

@media(min-width: 300px){

 .apartments-price {

        bottom: 82px;
        
        
    }

   
    .filter_list{

        top:159px !important;

   }
}

@media(min-width: 400px){

    .apartments-price {
   
           bottom: 94px;
           
           
       }
    }

@media(min-width: 480px){

    .apartments-price {
   
           bottom: 110px;
           
           
       }

       .filter_list{

            top:189px !important;

       }
   }

   @media(min-width: 600px){

    .apartments-price {
   
           bottom: 126px;
           
           
       }

       .filter_list{

        top:215px !important;

   }
   }

   @media(min-width: 768px){

    .apartments-price {
   
           bottom: 85px;
           font-size: 24px;
           
       }

       .homepagegallary .apartments-price{

            bottom: 160px;

        
    }


       .filter_list{

        top:225px !important;

   }
   }
   

   @media(min-width: 1024px){

    .row{
        margin-top: 12px;
    }
    .shadow-div{
        margin-bottom: 31px;
        height: 90%;
    }
    .Gallary-img{
        height: 61%;
    }

       .homepagegallary .apartments-price{

        bottom: 67px;

    
}
       
}
@media(min-width: 1044px){
    .apartments-price {
   
        bottom: 89px;
        font-size: 24px;
        
    }
}